.error {
  color: red;
}

.form {
  border: lightgray;
  border-style: solid;
  border-width: 1px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-self: center;
  width: 80%;
  box-shadow: 5px 10px 10px lightgray;
}

.form button {
  background-color: #4a8bf5;
  color: white;
  padding: 4px;
  width: 100%;
  border-color: transparent;
}

.password {
  -webkit-text-security: disc;
}
