ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: white;
  color: white;
  border-bottom: lightgray;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
}

.log-button {
  background: rgb(255, 0, 0);
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 0.5rem;
  margin-top: 0.75rem;
  justify-self: center;
}

.log-button:hover {
  background: rgb(134, 69, 69);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.center {
  display: flex;
  align-items: center;
}

.logout {
  width: 162px;
  height: min-content;
  display: flex;
  justify-content: end;
}
