.video-container {
  display: grid;
  grid-template-areas:
    "1L 1M 1R"
    "2L 2M 2R"
    "3L 3M 3R"
    "4L 4M 4R";
  margin: auto;
  margin-top: 4em;
  align-items: center;
  justify-items: center;
}

.video-card {
  margin: auto;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.title-wrapper {
  align-self: center;
  justify-self: center;
  margin: auto;
}

.title-wrapper p {
  font-size: medium;
}

.description-wrapper {
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.description-wrapper p {
  font-size: small;
}
