.video-container-small {
  display: grid;
  grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    "5"
    "6"
    "7"
    "8"
    "9";
  margin: auto;
  margin-top: 4em;
  align-items: center;
  justify-items: center;
}

.video-container {
  display: grid;
  grid-template-areas:
    "1L 1M 1R"
    "2L 2M 2R"
    "3L 3M 3R";
  margin: auto;
  margin-top: 4em;
  align-items: center;
  justify-items: center;
}

.video-card {
  margin: auto;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.title-wrapper {
  align-self: center;
  justify-self: center;
  margin: auto;
}

.title-wrapper p {
  font-size: medium;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.description-wrapper {
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.description-wrapper p {
  font-size: small;
}

a:link {
  text-decoration: none;
}
